/* div {
    background-color: lightblue;
    width: 200px;
    height: 200px;
    margin: 100px auto; */
/* border-radius: top-left top-right bottm-right bottom-left ; */

/* border-radius: 50%; */
/* box-shadow: h v blur spreed color inset ; */

/* box-shadow: 5px 5px 10px 1px blue,
        10px 10px 10px 1px red,

        -5px -5px 10px 1px blue; */

/* box-shadow: 3px 3px 10px 0px rgba(128, 120, 117, 0.65);

} */


/* p { */
/* text-align: center; */
/* text-shadow: h v blur color ; */
/* text-shadow: 2px 2px 5px red; */
/* text-shadow: 0px 0px 2px red */
/* } */

/* ======= Box model : padding , margin , border, content========= */

/* 
    total width : 200 + 20 + 20 = 240


    total height : 100 +  40 + 20 = 160


*/

/* *{
    box-sizing: content-box;
}

div {
    background-color: lightblue;
    width: 200px;
    height: 100px;
    padding: 20px 10px;
    border: 10px solid lightpink;
    margin: 50px auto;
} */


/* =================================== */


/* * {
    box-sizing: border-box;
} */

/* 

    content width : 200 - 20 - 20 = 160

    content height = 100 - 40 - 20 = 40

*/

/* div {
    background-color: lightblue;
    width: 200px;
    height: 100px;
    padding: 20px 10px;
    border: 10px solid lightpink;
    margin: 50px auto;
}
 */

/* =============================== */


/* 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    width: 33.333%;
    height: 50px;
    display: inline-block;
    padding: 1px 1px;

}

.first {
    background-color: lightblue;
}

.second {
    background-color: lightpink;
}

.third {
    background-color: lightgreen;
} */

/* ============= Transform ================= */

/* body {
    perspective: 1000px;
} */


/* div {
    background-color: lightblue;
    width: 200px;
    height: 50px;
    margin: 100px auto;
    padding: 20px;


} */

/* div:hover { */
/* transform: rotateX(50deg) */

/* transform: scale(2, 2); */

/* width: 400px;
    height: 100px; */
/* transform: perspective(1000px) translateZ(-200px) */

/* transform: skew(20deg, 20deg); */


/* transform: rotate(45deg) scale(1.5, 1) translate(100px, 50px); */
/* transform: matrix(scaleX , skewY , skewX , scaleY , translateX , translateY); */

/* transform: matrix(2, .5, 0, 1.5, 100, 200); */

/* scale: 2 2; */
/* rotate: 45deg; */
/* } */



/* div {
    width: 200px;
    height: 50px;
    background-color: lightblue;
    padding: 20px; */
/* transition-property: width, height;
    transition-duration: 1s, 2s; */
/* transition-delay: 1s; */
/* transition-timing-function: linear, ease; */

/* transition: width 1s ease, height 2s linear; */

/* transition: all 2s ease; */

/* } */

/* div:hover {
    width: 400px;
    height: 100px;

} */

/* ================= */

/* .parent {
    background-color: rgb(232, 227, 227);
    padding: 20px;
} */

/* .parent div {
    background-color: lightgreen;
    padding: 20px;
    width: 200px;
    margin: 10px;
    transition-property: width;
    transition-duration: 2s;
}

.parent:hover div {
    width: 400px;
}

.ease {
    transition-timing-function: ease;
}

.ease-in {
    transition-timing-function: ease-in;
}

.ease-out {
    transition-timing-function: ease-out;
}

.ease-in-out {
    transition-timing-function: ease-in-out;
}

.linear {
    transition-timing-function: linear;
} */

/* 
div {
    background-color: lightblue;
    width: 100px;
    height: 100px;
    margin: 200px auto;
    transition: rotate 2s ease;
    transform-origin: bottom right;
}

div:hover {
    rotate: 360deg;
} */

/* div {
    width: 50px;
    height: 50px;
    background-color: lightblue; */
/* transform: translate(200px); */
/* animation-name: move;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-iteration-count: 3;
    animation-direction: normal; */

/* 
    position: absolute;
    top: 1%;
    left: 1%;
    border-radius: 5px;

    animation: move 3s ease 1s 3 normal both;
}

div:hover {
    animation-play-state: paused;
} */

/* 
@keyframes move {
    0% {
        transform: translate(0px); */
/* transform: translateX(300px); */
/* }


    50% {
        transform: translate(500px); */
/* } */
/* 
    100% {
        transform: translate(0px);
    }
} */


/* @keyframes move {

    0% {

        top: 1%;
        left: 1%;
        rotate: 0deg;
        background-color: lightcoral;
    }

    25% {
        top: 1%;
        left: 90%;
        rotate: 90deg;
        background-color: lightgoldenrodyellow;

    }

    50% {
        top: 90%;
        left: 90%;
        rotate: 180deg;
        background-color: lightsalmon;
    }

    75% {
        top: 90%;
        left: 1%;
        rotate: 270deg;
        background-color: lightcyan;

    }

    100% {
        top: 1%;
        left: 1%;
        rotate: 360deg;
        background-color: lightgreen;
    }
} */


































/*
  * : all elements
  tagName :  p , div , span , .... 
  class :  .classname
  id :  #idname
  space : 
  > :  
  + :   
  ~ :
  [] : 
     *= : contain
     ^= Start with
     $= end with
  
  ---------------------------

  pseudo-class : (:)
      - hover
      - active
      - visited
      - link
      - empty
      - disabled
      - enabled
      - focus
      - first-child
      - last-child
      - nth-child
      - nth-last-child
      - first-of-type
      - last-of-type
      - nth-of-type
      - nth-last-of-type
      - not
  
  pseudo-elements (::)
      - before
      - after
      - first-line
      - first-letter
      - selection
      - placeholder   
 
*/

/* input:focus {
    border: 4px solid blue;
} */

/* input:active {
    outline: 0;
    border: 4px solid green;
} */


/* input:disabled {
    background-color: lightcoral;
}

input:enabled {
    background-color: lightgreen;
} */


/* a:visited {
    color: lightpink;
}

a:link {
    color: lightgreen;
} */

/* ul:first-child {
    color: lightgreen;
} */

/* ul :first-child {
    color: lightgreen;
} */

/* ul :nth-child(4) {
    color: lightpink;
} */

/* ul :nth-last-child(4) {
    color: lightpink;
} */

/* div span:first-of-type {
    color: lightgreen;
} */

/* 
div :not(p) {
    color: lightgreen;
} */

/* =================== */

/* p {
    position: relative;
    background-color: lightgrey;
    width: 400px;
    height: 300px;
}

p::before {
    content: "";
    border: 20px solid lightgreen;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
} */


p::selection {
    /* font-size: 35px; */
    background-color: lightgoldenrodyellow;
}

input::placeholder {
    color: red;
}