body {
    background: linear-gradient(135deg, #446aa1 0%, #e4e8eb 100%);
  min-height: 100vh;
}

label{
    font-weight: 500;
    color:rgb(129, 122, 19);
}
.label2{
    font-weight: 500;
    color:red;
}

.editing {
    background-color: #000000;
    outline: 2px solid #0eac23;
}
.card2{
    width: 80%; 
}

.t1{
    border-radius: 12px;
}

